.body {
  background-image: url("https://lh3.googleusercontent.com/oB263Yu4QGr9tlWdJphoBetH7lxTssdbZqI0ZRgXlRyUcbjKyy4ge1JLq_7ZBRCHsW4_bQLvaZfcv5xwY2IdBcgd_BFDMdpmJNYK8gQsA_1wVjpG2yi6qSBBdb-BPG8bclLH8bQD=w2400");
}
.App {
  margin: auto;
  text-align: center;
  max-width: 55%;
  padding: 5% 1%;
  background-color: white;
  border-radius: 10px;
  z-index: 99;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
